.header{
    background-image: url(Assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}
.inter-normel {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 100px;
}
.nav-title{
    font-weight: bold;
    font-size: 35px;
   
    color:#4E47FF;
}
header nav ul{
    list-style-type: none;
  
}

.all-btn{
    background-color: #4E47FF;
    padding:15px 30px;
    border:none;
    border-radius:5px;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 16px;
}
.all-center{
    text-align: center;
}
.margin{
    
    font-size: 65px;
    font-weight: bold;
    margin-top:200px;
    color:#252432;  
  max-width: 900px;
  margin:200px auto 35px;
    
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.action-section{
    display:flex;
    justify-content: space-between;
    margin:130px;
}
.title{
    color:#252432;
    font-weight: bold;
    font-size: 42px;
}
.discraption{
    color:#252432;
    font-size: 24px;
}
.abba{
    max-width: 500px;
    padding-top: 50px;
}
.photo{
    width:450px;
    height:350px;
    background-color: black;
    border-radius: 50px;

    
    
}
.photo img{
    border-radius: 50px;
    position:relative;
    left:40px;
} 
main{
    background-color: #FFFFFF;
}
.inter-font{
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.Productive-section{
    max-width: 1300px;
    background-color: rgba(78, 71, 255, 0.1);
    padding:150px;
    margin:0px auto;
    border-radius: 50px;
    height: 100px;
    

}
.Productive-abba{
    display:flex;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
}
.Productive-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color:rgba(37, 36, 50, 1);
    position: relative;
    bottom:100px;
}
.all-text{
    color:#4E47FF;
    font-weight: bold;
    font-size: 80px;  
}


.inter-new-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.all-text2{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.52);
    position: relative;
    bottom:50px;
}